# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.env
.env.*
*.bak

# === Poetry ===
poetry.lock
.cache/
dist/
build/

# === Virtualenv ===
.venv/
venv/
ENV/
env/
pip-wheel-metadata/

# === Docker ===
*.pid
*.tar
.dockerignore
docker-compose.override.yml
docker-compose.local.yml

# === Testing ===
htmlcov/
.coverage
.coverage.*
.pytest_cache/
test-results.xml
junit-*.xml

# === Mongo Dumps (optional) ===
dump/

# === IDE/editor files ===
.vscode/
.idea/
*.code-workspace

# === OS clutter ===
.DS_Store
Thumbs.db
*.swp
*~
